/* src/App.css */
:root {
  --bg-color: #0b0e14;
  --accent-color: #39c5bb;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  overflow: hidden;
  /* This prevents double scrollbars */
}

/* We remove the max-width and margin auto to allow full expansion */
.app-container {
  width: 100%;
  height: 100%;
  display: flex;
}